
:root {
    /* --light-shade: rgb(255, 255, 255); 
    --middle-shade: rgb(224, 224, 224);
    --dark-shade: rgb(90, 90, 90); */
    --light-shade: rgb(0, 177, 177); 
    --middle-shade: rgb(0, 161, 161);
    --dark-shade: rgb(0, 138, 138);
    --text-color: white;
    /* color: rgb(0, 128, 128); */
}

body {
    background-color: var(--middle-shade, rgba(221, 225, 231, 1));
    font-family: monospace;
    font-size: 1rem;
    /* color: rgb(113, 113, 113); */
    color: var(--text-color, white);
}
#app{
    /* outline: 4px solid #fff; */
    width: 80%;
    /* height: 500px; */
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    grid-template-areas:
        "n1 n2 n2";
    gap: 2vw;
    position: relative;
}

.seccion{
    display: grid;
    place-items: center;
    /* padding: 2% 0; */
    /* margin-bottom: 2%; */
    align-content: start;
    background-color: var(--middle-shade, rgba(221, 225, 231, 1));
    /* gap: 2%; */
}
/* PERFIL */
.perfil {
    position: absolute;
    grid-area: n1;
    height: var(--height, 35px);
    width: var(--width, 35px);
    left: var(--left, 0);
    top: var(--top, 0);
    transition: width .4s, height .4s;
}
.enlace-perfil {
    text-decoration: none !important;
    color: var(--text-color, white);
}

.display-div {
    display: grid;
    height: 30px;
    left: 2px;
    overflow: hidden;
    place-items: center;
    position: absolute;
    top: 2px;
    width: 30px;
}

.perfil:has(:checked) {
    --border: 1px solid;
    --height : 100%;
    --width: 100%;
    --left: 0;
    --top: 0;
    .informacion {
        --display: grid;
    }
    .bi-person-fill {
        display: none !important;
    }
    .bi-box-arrow-in-up-left{
        display: block !important;
    }
}

.check-input {
    cursor: pointer;
    height: 100%;
    margin: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
}

.informacion {
    display: var(--display, grid);
    place-items: center;
    /* color: darkgreen; */
    /* text-shadow: 2px 2px rgb(185, 185, 185); */
    margin: auto;
    padding: 2px;
    top: 20px;
    width: 100%;
    /* text-shadow: 0px 0px 3px rgb(138, 137, 137); */
}

.foto-contenedor {
    width: 50%;
    margin: 5% auto;
}

.img-perfil {
    display: flex;
    width: 100%;
    height: auto;
}

.contenedor-nombre {
    display:inline-block;
}
#nombre{
    font-size: 1.5rem;
    margin: 0 auto 30px;
    border-right: 3px solid;
    width: 0ch;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 4s steps(18) infinite alternate-reverse, 
        cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% { border-color: transparent }
}

@keyframes typing {
    /* from { width: 25ch } */
    0%{
        width: 0;
    }
    70%{
        width: 18ch;
    }
    100% {
        width: 18ch;
    }
}
/* FIN PERFIL */

/* CONTENIDO */
.contenido {
    grid-area: n2;
}

.hidden-content {
    position: absolute;
    padding: 10px;
    /* background-color: white; */
    /* background-color: rgb(238, 238, 238); */
    background-color: var(--middle-shade, rgb(238, 238, 238));
    width: 90%;
    top:100%;
    line-height: 17px;
    transition: transform .3s ease;
}
.hidden-content > ul {
    margin-bottom: 0;
    text-align: left;
    padding-left: 9%;
}

.enlinea {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(150px, 1fr)) !important;
    place-items: center;
    align-items: center;
    /* position: absolute; */
    width: 95%;
    gap: 5%;
    padding: 6%;
    margin-bottom: 3%;
}

.tarjeta {
    position: relative;
    width: 100%;
    aspect-ratio : 1 / 1;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    /* background-color: rgb(238, 238, 238); */
    background-color: var(--middle-shade, rgb(238, 238, 238));
    text-align: center;
    box-shadow: 0 0 0px black;
    border: 0px transparent black;
    transition: transform .3s, box-shadow .3s;
    
    /* box-shadow: 0 0 5px rgb(185, 185, 185); */
}

.tarjeta:hover {
    box-shadow: 0 0 18px black;
    transform: scale(1.05);
}

.redes{
    color: var(--text-color, white);
    overflow: hidden;
}
.redes > img {
    width: 59%;
}
.redes:hover{
    .hidden-content{
        top: 50%;
        transform: translate(0, -60%);
        transition: transform .3s;
    }
    #redes-icon{
        display: none;
    }
}

.programacion{
    color: var(--text-color, white);
    overflow: hidden;
}
.programacion > img {
    width: 90%;
}
.programacion:hover{
    .hidden-content{
        top: 50%;
        transform: translate(0 ,-50%);
        transition: transform .3s;
    }
    #programacion-icon{
        display: none;
    }
}

.descripcion {
    color: var(--text-color, white);
    overflow: hidden;
}
.descripcion:hover{
    .hidden-content{
        top: 50%;
        transform: translate(0, -60%);
    }
    #educacion-icon{
        display: none;
    }
}
.descripcion > img {
    width: 90%;
}

.ingles {
    color: var(--text-color, white);
    overflow: hidden;
}
.ingles:hover{
    .hidden-content{
        top: 50%;
        transform: translate(0, -60%);
    }
    #ingles-icon{
        display: none;
    }
}
.ingles > img {
    width: 90%;
}
/* FIN CONTENIDO */

/* LENGUAJES */
.responsive-grid {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(80px, 1fr)) !important;
    gap: 20px;
    margin-bottom: 3%;
    border: 0;
}

.leng-img {
    width: 100%;
    aspect-ratio : 1 / 1;
    /* transform: scale(1.05); */
    /* margin: 3% auto; */
    /* filter: drop-shadow(0 0 0px black); */
    /* transition: transform .3s, filter .3s; */
    /* filter: drop-shadow(0 0 4px black); */
}
/* .responsive-grid > .leng-img:hover {
    transform: scale(1.1);
} */


@property --progress-value {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}
.progress {
    display: none;
    justify-content: center;
    align-items: center;
    
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    box-shadow: 0 0 8px black;
    color: white;
    background: 
        radial-gradient(closest-side, rgb(204, 204, 204) 80%, transparent 80% 100%),
        conic-gradient(rgb(163, 0, 0) calc(var(--progress-value) * 1%), white 0);
}

@keyframes php-progress {
    to { --progress-value: 80; }
}
@keyframes js-progress {
    to { --progress-value: 80; }
}
@keyframes html-progress {
    to { --progress-value: 90; }
}
@keyframes css-progress {
    to { --progress-value: 70; }
}
@keyframes py-progress {
    to { --progress-value: 70; }
}

.php:hover{
    .progress-bar {
        display: flex;
        animation: php-progress .5s 1 forwards;
    }
    .leng-img {
        display: none;
    }
    .progress-bar::before {
        counter-reset: percentage var(--progress-value);
        color: black;
        text-align: center;
        font-size: .8rem;
        white-space: pre;
        content: 'PHP\A' counter(percentage) '%';
        animation: php-progress .5s 1 forwards;
    }
}

.js:hover {
    .progress-bar {
        display: flex;
        animation: js-progress .5s 1 forwards;
    }
    .leng-img {
        display: none;
    }
    .progress-bar::before {
        counter-reset: percentage var(--progress-value);
        color: black;
        text-align: center;
        font-size: .8rem;
        white-space: pre;
        content: 'JS\A' counter(percentage) '%';
        animation: js-progress .5s 1 forwards;
    }
}

.html:hover {
    .progress-bar {
        display: flex;
        animation: html-progress .5s 1 forwards;
    }
    .leng-img {
        display: none;
    }
    .progress-bar::before {
        counter-reset: percentage var(--progress-value);
        color: black;
        text-align: center;
        font-size: .8rem;
        white-space: pre;
        content: 'HTML\A' counter(percentage) '%';
        animation: html-progress .5s 1 forwards;
    }
}

.css:hover {
    .progress-bar {
        display: flex;
        animation: css-progress .5s 1 forwards;
    }
    .leng-img {
        display: none;
    }
    .progress-bar::before {
        counter-reset: percentage var(--progress-value);
        color: black;
        text-align: center;
        font-size: .8rem;
        white-space: pre;
        content: 'CSS\A' counter(percentage) '%';
        animation: css-progress .5s 1 forwards;
    }
}

.py:hover {
    .progress-bar {
        display: flex;
        animation: py-progress .5s 1 forwards;
    }
    .leng-img {
        display: none;
    }
    .progress-bar::before {
        counter-reset: percentage var(--progress-value);
        color: black;
        text-align: center;
        font-size: .8rem;
        white-space: pre;
        content: 'Python\A' counter(percentage) '%';
        animation: py-progress .5s 1 forwards;
    }
}

/* FIN LENGUAJES */

/* LIBRERIAS */
.logos-contenedor {
    display: grid;
    margin: auto;
    border: 0;
}
.lib-img {
    width: 70%;
    margin: 3% auto;
    /* filter: drop-shadow(0 0 0px black); */
    transition: transform .3s, filter .3s;
}
.logos-contenedor > .lib-img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 5px black);
}
.logos-contenedor > img {
    aspect-ratio : 1 / 1;
}
.logos-contenedor > h4 {
    display: block;
    margin: auto;
}

/* FIN LIBRERIAS */

/* HERRAMIENTAS */
.herr-img {
    width: 100%;
    margin: 3% auto;
    /* filter: drop-shadow(0 0 0px black); */
    transition: transform .3s, filter .3s;
}
.logos-contenedor > .herr-img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 4px black);
}

/* FIN HERRAMIENTAS */

@media (1400px < width) {
    .perfil {
        --height: 100%;
        --width: 100%;
    }
    .display-div, .menu-text, .check-input {
        display: none !important;
    }
    .informacion{
        --display: grid;
    }
    .hidden-content {
        font-size: 100%;
        line-height: 2.5vh !important;
    }
    .progress {
        width: 7vw !important;
        height: 7vw !important;
    }
    .tarjeta {
        width: 12vw;
    }
}
@media (1200px < width <= 1400px) {
    .perfil {
        --height: 100%;
        --width: 100%;
    }
    .display-div, .menu-text, .check-input {
        display: none !important;
    }
    .informacion{
        --display: grid;
    }
    .hidden-content {
        font-size: 80%;
        line-height: 12px !important;
    }
    .progress {
        width: 7vw !important;
        height: 7vw !important;
    }
    .tarjeta {
        width: 12vw;
    }
}

@media (992px < width <= 1200px) {
    .perfil {
        --height: 100%;
        --width: 100%;
    }
    .display-div, .menu-text, .check-input {
        display: none !important;
    }
    .informacion{
        --display: grid;
    }
    .hidden-content {
        font-size: 100%;
        line-height: 14px !important;
    }
    .progress {
        width: 6.5vw;
        height: 6.5vw;
    }
    .tarjeta {
        width: 100%;
    }
}   
@media (768px < width <= 992px){
    #app{
        /* grid-template-rows: repeat(3, 1fr); */
        grid-template-areas:
            "n2 n2 n2";
        padding-top: 45px;
    }
    .perfil {
        box-sizing: border-box;
        z-index: 100;
    }
    .progress {
        width: 13vw;
        height: 13vw;
    }
    .tarjeta {
        /* width: 25vw; */
        width: 100%;
    }
    .informacion{
        --display: none;
    }
    #app {
        width:90%;
    }
    .hidden-content {
        font-size: 100%;
    }
    .bi-box-arrow-in-up-left {
        display: none !important
    }
}
@media (576px < width <= 768px) {
    #app{
        /* grid-template-rows: repeat(3, 1fr); */
        grid-template-areas:
            "n2 n2 n2";
        padding-top: 45px;
    }
    .perfil {
        box-sizing: border-box;
        z-index: 100;
    }
    .tarjeta {
        /* width: 25vw; */
        width: 100%;
    }
    .informacion{
        --display: none;
    }
    #app {
        width:90%;
    }
    .hidden-content {
        font-size: 100%;
        line-height: 14px;
        font-size: 85%;
    }
    .bi-box-arrow-in-up-left {
        display: none !important
    }
    .progress {
        width: 13vw;
        height: 13vw;
    }
}
@media (width <= 576px) {
    #app{
        /* grid-template-rows: repeat(3, 1fr); */
        grid-template-areas:
            "n2 n2 n2";
        padding-top: 45px;
        width: 98%;
    }
    .perfil {
        box-sizing: border-box;
        z-index: 100;
    }
    .tarjeta {
        /* width: 35vw; */
        width: 100%;
    }
    .informacion{
        --display: none;
    }
    #app {
        width:90%;
    }
    .hidden-content {
        line-height: 12px;
        font-size: 75%;
    }
    .bi-box-arrow-in-up-left {
        display: none !important
    }
    .titulo {
        font-size: 1.5rem !important;
    }
    .progress {
        width: 13vw;
        height: 13vw;
    }

}

.box {
    border-radius: .5vh;
    /* border: 1px solid rgb(239, 239, 239); */
    box-shadow: -3px -3px 5px 2px var(--light-shade, rgba(255, 255, 255, 1)), 3px 3px 5px 2px var(--dark-shade, rgba(94,104,121,1));
}
.inner-box {
    border-radius: .5vh;
    box-shadow: inset -4px -4px 7px var(--light-shade, rgba(255, 255, 255, 1)), inset 4px 4px 7px var(--dark-shade, rgba(94,104,121,1));
}
.espacio {
    padding: 10px;
}

.circular {
    border-radius: 50%;
}
.titulo {
    margin: 5px 0;
    padding: 5px;
    /* font-size: 2rem; */
    /* text-shadow: 0px 0px 3px rgb(138, 137, 137); */
}




/* VER ESTILOS
https://blog.logrocket.com/styling-css-box-shadow-property/ */

/*
0,
576px,
768px,
992px,
1200px,
1400px */